.liveContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.svg {
  position: absolute;
  top: 0;
  z-index: -1;
}

.titles {
  display: flex;
  flex-direction: column;
  margin-top: 6em;
}

.title {
  display: flex;
}

.h1 {
  color: #35b7e5;
  font-size: 3em;
  font-weight: bold;
}

.price {
  font-size: 3em;
  margin-left: 0.5em;
  font-weight: bold;
}

.expect {
  width: 65vw;
  margin-top: 4em;
}

.ulExpect {
  font-size: 1.4em;
  margin-left: 4em;
}

.h2 {
  /* margin-top: 3em;
  font-size: 2.5em; */
  color: #35b7e5;
  font-size: 3em;
  font-weight: bold;
}

.h3 {
  font-size: 2em;
  margin-top: 0;
}

.important {
  display: flex;
  justify-content: space-between;
  width: 55vw;
}

.info {
  margin: 0;
  font-size: 1.4em;
}
.img {
  margin-top: 3em;
}

.bottom {
  margin-top: 3em;
}

@media screen and (max-width: 1120px) {
  .title,
  .h1,
  .price {
    font-size: 1.3em;
  }
  .important {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 2em auto;
    width: 100vw;
  }

  .info {
    margin: 0;
  }
}
@media screen and (max-width: 830px) {
  .bottom {
    width: 99vw;
    /* padding: 1em; */
  }
}
