.liveContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.svg {
  position: absolute;
  top: 0;
  z-index: -1;
}

.titles {
  display: flex;
  margin-top: 6em;
}

.h1 {
  color: #35b7e5;
  font-size: 3em;
  font-weight: bold;
}

.price {
  font-size: 3em;
  margin-left: 0.5em;
  font-weight: bold;
}

.expect {
  font-size: 1.2em;
  width: 65vw;
  margin-top: 5em;
}

.ulExpect {
  font-size: 1.4em;
  margin-left: 4em;
}

.steps {
  display: flex;
  width: 55vw;
}

.stepsContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 55vw;
  font-size: 1.2em;
}

.img {
  margin-top: 3em;
  margin-left: 3em;
}

.prerequisities {
  display: flex;
  justify-content: flex-start;
  width: 60vw;
}

.prereq {
  list-style-type: none;
  font-size: 1.4em;
}
