.footer {
  background-color: #feeeda;
  padding: 3em 0;
  width: 100vw;
  display: flex;
  justify-content: center;
}

.topUl {
  display: flex;
  width: 60vw;
  list-style-type: none;
  padding: 0;
}

.bottomUl {
  list-style-type: none;
  width: 100vw;
  padding: 0;
}

li {
  padding: 0.4em;
  cursor: pointer;
}

li:first-child {
  font-weight: bolder;
  cursor: default;
}

@media screen and (max-width: 560px) {
  .footer {
    padding: 0;
  }
}
