.loginBtn {
  background-color: #2bb7e5;
  color: #fff;
  border: solid #2bb7e5 2px;
  border-radius: 0.3em;
  max-height: 2em;
  margin-top: 1em;
  padding: 0.2em 0.5em;
  text-align: center;
  cursor: pointer;
}

@media screen and (max-width: 1024px) {
  .loginBtn {
    margin: 0;
    width: 50vw;
  }
}
